
    <div class="last col-12">
        <div>
            <div class="about col-10 mt-5">
            <div class="our mt-10 col-7">
                <h3>Your Life's Work, Powered By Our Life's Work</h3>
            </div>
            <div class="col-12 mt-3">
                <h4>Unique and powerful suite of software to run your entire business, brought to you by a company with the long term vision to transform the way you work.</h4>
            </div>
            </div>
        </div>
        <footer class="foot col-10">
            <p id="new" class="col-7">©2021, CLOOBOT Pvt.Ltd.All Rights Reserved.</p>
                <div class="icons">
                    <a href="" target="_blank" class="text-decoration-none">
                        <img class="px-2" src="https://uploads-ssl.webflow.com/60670664a9322f4664916537/60670665a9322f9d3e916552_Twitter.svg" alt="">
                    </a>
                    <a href="#" class="text-decoration-none" target="_blank">
                        <img class="px-2" src="https://uploads-ssl.webflow.com/60670664a9322f4664916537/60670665a9322fab05916551_Dribbble.svg" alt="">
                    </a>
                    <a href="" class="text-decoration-none" target="_blank">
                        <img class="px-2" src="https://uploads-ssl.webflow.com/60670664a9322f4664916537/60670665a9322fa1cb916550_LinkedIn.svg" alt="">
                    </a> <br>
                </div>
        </footer>
    </div>
