.example-spacer {
    padding: 0 14px;
    flex: 1 1 auto;
  }
.mat-elevation-z5{
    position: relative;
    z-index:2;
}
.mat-sidenav a:hover{
 color:blue;
}
.mat-sidenav{
    color: black;
}
span{
    padding-left: 5px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.mat-sidenav {
    display: none;
    width: 210px;
    overflow-y:hidden;
    overflow-x: hidden;
    padding-left: 0%;
    padding-right: 0%;
  }
@media (min-width: 768px) {
.mat-sidenav {
      /* position: fixed; */
      /* top: 51px; */
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      /* padding: 20px; */
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      /* background-color: #f5f5f5; */
      /* border-right: 1px solid #eee; */
    }
  }